<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
#social-media:hover {
  background-color: yellow;
}

</style>

{% if site.data.social-media %}
<div id="social-media">
    {% assign sm = site.data.social-media %}
    {% for entry in site.data.social-media %}
    {% assign key = entry | first %}
        {% if sm[key].id %}
            <!-- <p>"{{ sm[key].title }}" </p> -->
            <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" rel="me"><i class="fa {{ sm[key].fa-icon }} fa-3x"></i></a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
