/**********************************
Styling for Posts listed in blog home page*/
.Sect_PostList{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.Sect_PostList{
    margin-top:60px;
}
.Sect_PostList .Post-Hdr{
    /* font-size: 15px; */
    font-size: 110%;

}
.Sect_PostList .Post-Hdr:hover{    
    color:#ff6b6b !important; 
}

.Sect_PostList .Post-Cat{
    font-size: 95%;

}
.Sect_PostList .Post-MetaData{
    /* font-size: 15px; */
    font-size: 95%;

}
.Sect_PostList .Post-ReadMore{
    /* font-size: 0.8em; */
    font-size: 70%;
    
}

.Sect_PostList .Post-ReadMore .btn:hover{
    margin-left: 30px;
    
}
.Post-Container{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .Post-Container:hover{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
} */



/**********************************
Below is styling for paginator links for post*/
.paginator_links ul,li{
    display: inline; list-style: none;
    /* margin: 2px; */
    
}
.paginator_links ul{    
    padding-left: 0;
}

.paginator_links span{    
    /* font-size: 0.8em; */
    font-size: 60%;
}

.paginator_links a{    
    /* font-size: 0.8em; */
    font-size: 70%;
}
.paginator_links .label{    
    /* font-size: 0.8em; */
    font-size: 90%;
}