/*
Contact and  share section styling for all pages except landing page
*/
.ContactsAndShare #ContactsSection i{
    font-size: 50px;
}
.ContactsAndShare #ContactsSection i:hover {
    /* color:#5F27CD; */

    /* color:#576574; */
    color:#54a0ff;;
    transition: color 0.2s;
}




/*
Contact and  share section styling for landing page only
*/
.ContactsAndShare_lp #ContactsSection i{
    font-size: 50px;
    /* color:pink; */
    /* color:violet; */
    color:#54a0ff;
}
.ContactsAndShare_lp #ContactsSection i:hover {
    /* color:#5F27CD; */
    color:pink;
    transition: color 0.2s;

    
}

.ContactsAndShare_lp p{
    color:white;
}

.ContactsAndShare_lp a{
    color:#00d2d3;
}