/* html{
    font-size:20px; /* Can be changed later*
} */


.LandingPageBody{
    background-image: linear-gradient(rgba(173, 169, 169, 0.5), rgba(24, 4, 4, 0.308)), url("../images/pattern3.png");
    background-size:cover; 
	background-position:centre;
	background-attachment: fixed; 
}

.LandingPageContainer{
    margin-top: 200px;
    
}


.LandingPageContainer p{
    font-size: 18px;
    letter-spacing: 2px;
    text-align: justify;
    color: #c8d6e5;
}
.LandingPageHeader {
    letter-spacing: 1px;
    color:white;
}


/* This will add image to complete banner tag*/
/* .jumbotron{
	background-image: linear-gradient(rgba(173, 169, 169, 0.5), rgba(24, 4, 4, 0.308)), url("../images/pattern3.png");
	background-size:cover; 
	background-position:centre;
	background-attachment: fixed; */
    /* height: 100vh;	 */
    /* height: 250px;
	margin-bottom: 0rem  !important; 
    margin-right: 0rem  !important; 
    color: whitesmoke;	
} */


/* .jumbotron h1{
    font-size: 50px;
} */


/* .navbar{ */
    /* background: linear-gradient(rgba(177, 176, 176, 0.103),rgba(0, 0, 0, 0.425)); */
    /* background: transparent; */
/* } */

.navbar a{
color: #C8D6E5 !important; 
font-size: 120%;
margin-right: 30px;

}
.navbar i{
    margin-right: 5px;
}

.navbar li a:hover{
    /* color:#00D2D3 !important;  */
    color:white !important; 
    /* color:orange!important;  */
    transition: color 0.2s;
}
#NavBarToggler{
    color: #C8D6E5;
    font-size: 120%;
}


