---
layout: blogPageDefault
title: Danish Malim's Blog
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

{% if paginator.total_pages > 1 %}

  {% assign start = paginator.page | minus: 2 %}
  {% assign end = paginator.page | plus: 2 %}

  {% if start < 1 %}
    {% assign start = 1 %}
    {% assign end = start | plus: 4 %}
  {% elsif end > paginator.total_pages %}
    {% assign start = paginator.total_pages | minus: 4 %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  {% if start < 1 %}
    {% assign start = 1 %}
  {% endif %}

  {% if end > paginator.total_pages %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  <div class="pagination-wrapper">
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="pagination-step" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          Newer
        </a>
      {% else %}
        <span class="pagination-step">
          Newer
        </span>
      {% endif %}

      {% if start > 1 %}
        <a class="pagination-first" href="{{ site.baseurl }}/">1</a>
        <span class="pagination-more">&middot;&middot;&middot;</span>
      {% endif %}

      {% for page in (start..end) %}
        {% if page == paginator.page %}
          <span class="active">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ site.baseurl }}/">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}/page-{{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if end < paginator.total_pages %}
        <span class="pagination-more">&middot;&middot;&middot;</span>
        <a class="pagination-last" href="{{ site.baseurl }}/page-{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
      {% endif %}

      {% if paginator.next_page %}
        <a class="pagination-step" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          Older
        </a>
      {% else %}
        <span class="pagination-step">
          Older
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}




<style>
/* ------- pagination -------- */

.pagination {
  height: 36px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover, .active a {
  background-color: whiteSmoke;
}

.disabled a, .disabled a:hover,
.active a, .active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}

</style>




