---
layout: default
author:
---

<section class="container Sect_PostTitle text-primary">
    <h5 style="padding-bottom: 1em; "><i class="ion-edit mr-2"></i>{{ page.title }}</h5>

</section>

<section class="container Sect_PostMetaData">
    <div class="container">

        <div class="row PostMetaData_MainRow" >

            <div class="PostMetaData_Avatar col-lg-1 col-md-2 col-sm-2 col-3 align-self-center">
                <img src="/resources/thumbs/img_avatar.png" alt="Generic placeholder image">
            </div>

            <div class="PostMetaData_Info_Container col-lg-10 col-md-10 col-sm-10 col-9 my-4 ">
                <div class="container text-dark">
                    <div class="row PostMetaData_AuthorInfo ">
                        <div class="col-auto mr-0">
                            <span><i class="ion-compose mr-2"></i>Written By : </span>Author Name
                        </div>
                    </div>

                    <div class="row PostMetaData_DateAndTime ">
                        <div class="col-auto mr-0">
                            <span><i class="ion-android-calendar mr-2"></i>DD-mm-yyyy</span>
                        </div>
                        <div class="col-auto ">
                            <span><i class="ion-android-time ml-sm-3"></i> min read</span>
                        </div>
                    </div>


                    <div class="row PostMetaData_Category ">
                        <div class="col-auto mr-0">
                            <span><i class="ion-android-folder-open mr-1"></i> Category:</span>
                            <a href="">Tutorials,</a>
                            <a href="">Guide,</a>
                            <a href="">Guide,</a>
                            <a href="">Guide,</a>
                        </div>
                    </div>

                    <div class="row PostMetaData_Tags ">
                        <div class="col-auto mr-0">
                            <span><i class="ion-ios-pricetag-outline mr-1"></i> Tags:</span>
                            <a href="">Tutorials,</a>
                            <a href="">Guide,</a>
                            <a href="">Guide,</a>
                            <a href="">Guide,</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container Sect_PostContent">
    {{content}}
</section>



<section class="Sect_RelatedPost">
    <div class="container">        
        <div class="row">
            <!-- Block to be used for Related posts-->
            <div class="col-md-4 my-3 ">
                <div class="card" style="box-shadow: 5px 5px 8px grey;">
                    <div class="card-body">
                        <p><span class="badge badge-info">Related post</span></p>
                        <h6 class="card-title text-danger">
                            <a href="">
                                <i class="ion-edit mr-1"></i>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante
                                sollicitudin.
                                Cras
                                purus
                                odio
                            </a>
                        </h6>
                        <p class="card-text text-dark">With supporting text below as a natural lead-in to
                            additional
                            content.</p>
                        <a href="#" class="btn btn-outline-primary">Read</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 my-3 ">
                <div class="card" style="box-shadow: 5px 5px 8px grey;">
                    <div class="card-body">
                        <p><span class="badge badge-info">Related post</span></p>
                        <h6 class="card-title text-danger">
                            <a href="">
                                <i class="ion-edit mr-1"></i>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante
                                sollicitudin.
                                Cras
                                purus
                                odio
                            </a>
                        </h6>
                        <p class="card-text text-dark">With supporting text below as a natural lead-in to
                            additional
                            content.</p>
                        <a href="#" class="btn btn-outline-primary">Read</a>
                    </div>
                </div>
            </div>
</section>




<section class="Sect_CommentArea">
    <div class="container text-primary">
        <div>
            <script>
                var idcomments_acct = '0b0d7f8f18c2b23bb3a601dcc42a7fe1';
                var idcomments_post_id;
                var idcomments_post_url;
            </script>
            <span id="IDCommentsPostTitle" style="display:none"></span>
            <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
        </div>
    </div>
</section>

</body>






</div>