<!DOCTYPE html>

<head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">






    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!--Links ionicons minified stylesheet downloaded from ioicons website-->
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">


    <!--NOte below links are for Bootstrap support-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Below link is for theme file created on free theme builder website-->
    <link rel="stylesheet" href="/vendors/css/theme.css">

    <!--This is out custom style sheet usedand created by us-->
    <link rel="stylesheet" href="/resources/css/styleForBlog.css">


    <!--Add style sheet for footer section-->
    <link rel="stylesheet" href="/resources/css/styleForShareAndContacts.css">


    <!-- Third party sscript files linked to enabled for some javascript support-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>



<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <header>

        <!-- This is a inbuild class call jumbotron used for banners-->
        <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid" style="margin-top: 10%; margin-left: 5%; width: auto;">
                <h1>Banner Message here. </h1>
                <p>Add some text here.</p>
            </div>
        </div> -->



        <!-- Nav Bar code here built using bootstrap4-->
        <nav class="navbar navbar-expand-md fixed-top">

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img style="padding-left: 10%" src="/resources/images/Dm3.png" height="50px" width="auto"
                    class="d-inline-block align-top" alt="">
            </a>


            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i id="NavBarToggler" class="ion-navicon-round"></i>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="ion-android-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog"><i class="ion-ios-compose"></i>Blog</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#"><i class="ion-document-text"></i>Cv</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="ion-android-mail"></i>Contact</a>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <!-- <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> -->
                            <!-- <button class="btn btn-dark mt-auto ml-auto" type="submit"><i class="ion-search"
                                    style="margin:0; padding:0; font-size: 120%;"></i></button> -->
                            <button class="btn btn-dark  my-2 my-sm-0" type="submit"><i class="ion-search"
                                    style="margin:0; padding:0; font-size: 120%;"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <body>

        <!-- Content are added through thier own respective page-->

        <div class="container" style="margin-top: 80px;">
            
            <h5 style="padding-bottom: 1em; padding-top: 2em;"><i class="ion-edit mr-2" ></i>{{ page.title }}</h5>
            <hr>


            <section class="PostDetails" style="margin-bottom: 2em; margin-top: 2em;">
                <div class="container">
                    <div class="card" style="box-shadow: 5px 5px 8px grey; padding-top: 20px; padding-bottom: 20px;">

                        <div class="row">
                            <div class="col-auto">
                                <div class="media">
                                    <!-- <img class="align-self-center mr-3" src="./resources/images/dm1.png" alt="Generic placeholder image"
                                style="display: block; width: 100px;"> -->
                                    <img class="align-self-center mr-3 ml-3" src="/thumbs/img_avatar.png"
                                        alt="Generic placeholder image"
                                        style="display: block; width: 50px; border-radius: 50%;">
                                    <div class="media-body">
                                        <h5 class="mt-0"><i class="ion-compose"></i>
                                            <span class="AuthDetails"> Written by : <a href="">Author Name</a></span>
                                        </h5>

                                        <div class="row SecondRow">
                                            <div class="col-auto">
                                                <i class="ion-android-calendar mr-2"></i>
                                                <span class="mr-2">dd-mm-yyyy</span>
                                                <i class="ion-android-time ml-sm-3 "></i> 1 min read
                                            </div>
                                        </div>

                                        <div class="row ThirdRow">
                                            <div class="col-auto"><i class="ion-paperclip mr-1"></i>
                                                <span>Category:</span>
                                                <a href="">Tutorials,</a>
                                                <a href="">Guide,</a>
                                                <a href="">Guide,</a>
                                                <a href="">Guide,</a>
                                            </div>
                                        </div>

                                        <div class="row FourthRow">
                                            <div class="col-auto"><i class="ion-ios-pricetag-outline mr-1"></i><span>
                                                    Tags:</span>
                                                <a href="">Tutorials,</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                                <a href="">Guide</a>
                                            </div>
                                        </div>

                                        <!-- <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                                purus
                                                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                                vulputate
                                                fringilla. Donec lacinia congue felis in faucibus.</p>
                                                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                                natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{ content }}
        </div>




        <section
            style="background-image:linear-gradient(rgba(252, 252, 252, 0.719), rgba(252, 246, 246, 0.945)), url('/resources/images/blogImage.png'); background-position: center; background-attachment: fixed;background-size:cover; padding-top: 40px; padding-bottom: 40px;">
            <div class="container">

                <!-- <div class="row">
                <div class="col-md-12 my-3 mt-4 ">
                    <h5 class="text-primary">Here are some related posts.</h5>
                </div>
            </div> -->
                <div class="row">



                    <!-- Block to be used for Related posts-->
                    <div class="col-md-4 my-3 ">
                        <div class="card" style="box-shadow: 5px 5px 8px grey;">
                            <div class="card-body">
                                <p><span class="badge badge-info">Related post</span></p>
                                <h6 class="card-title text-danger">
                                    <a href="">
                                        <i class="ion-edit mr-1"></i>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante
                                        sollicitudin.
                                        Cras
                                        purus
                                        odio
                                    </a>
                                </h6>
                                <p class="card-text text-dark">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-outline-primary">Read</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 my-3 ">
                        <div class="card" style="box-shadow: 5px 5px 8px grey;">
                            <div class="card-body">
                                <p><span class="badge badge-info">Related post</span></p>
                                <h6 class="card-title text-danger">
                                    <a href="">
                                        <i class="ion-edit mr-1"></i>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante
                                        sollicitudin.
                                        Cras
                                        purus
                                        odio
                                    </a>
                                </h6>
                                <p class="card-text text-dark">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-outline-primary">Read</a>
                            </div>
                        </div>
                    </div>
        </section>


        <section>
            <div class="container">
                <div>
                    <script>
                        var idcomments_acct = '0b0d7f8f18c2b23bb3a601dcc42a7fe1';
                        var idcomments_post_id;
                        var idcomments_post_url;
                    </script>
                    <span id="IDCommentsPostTitle" style="display:none"></span>
                    <script type='text/javascript'
                        src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
                </div>
            </div>
        </section>





    </body>
    <footer class="site-footer">
        <section class="ContactsAndShare" style="padding-top: 30px;">

            <div class="container">
                <div id="ShareSection" class="row">
                    <div class="col-lg-4">
                        <div class="card my-4">
                            <div class="card-header bg-transparent">
                                <h5 class="text-primary">Share</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text text-dark">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="ContactsSection" class="row">
                    <!-- <div class="col-md-12 my-3 mt-4 ">
                    <h5 class="text-primary">Contacts</h5>
                    </div> -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header bg-transparent">
                                <h5 class="text-primary">Contacts</h5>
                            </div>
                            <div class="card-body">
                                <a class="text-primary" href=""><i class="ion-social-github mr-3"></i></a>
                                <a class="text-primary" href=""><i class="ion-android-mail mr-3"></i></a>
                                <a class="text-primary" href=""><i class="ion-social-rss mr-3"></i></a>
                                <p>&copy; 2020 All rights reserved.</p>
                            </div>
                            <!-- <div class="card-footer text-muted">
                            &copy; 2020 All rights reserved.
                        </div> -->
                        </div>
                    </div>
                </div>
                <hr>
                <p>
                    <span class="site-footer-owner"><a
                            href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained
                        by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>

                    <span class="site-footer-credits">This page was generated by <a
                            href="https://pages.github.com">GitHub Pages</a>.</span>
                </p>
            </div>
        </section>
    </footer>



    </html>